Assets/Best[[:space:]]HTTP[[:space:]](Pro)/**/*.cs filter=lfs diff=lfs merge=lfs -text lockable
Assets/Best[[:space:]]HTTP[[:space:]](Pro)/**/*.xml filter=lfs diff=lfs merge=lfs -text lockable
Assets/Best[[:space:]]HTTP[[:space:]](Pro)/**/*.jslib filter=lfs diff=lfs merge=lfs -text lockable
Assets/Editor/RelationsInspector/**/*.cs filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/*.xml filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/*.cs filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/*.h filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/FBSDKCoreKit filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/FBSDKLoginKit filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/FBSDKShareKit filter=lfs diff=lfs merge=lfs -text lockable
Assets/Plugins/**/Bolts filter=lfs diff=lfs merge=lfs -text lockable
Assets/JMO[[:space:]]Assets/**/*.shader filter=lfs diff=lfs merge=lfs -text lockable
Assets/Facebook/**/*.txt filter=lfs diff=lfs merge=lfs -text lockable
Assets/Facebook/**/*.cs filter=lfs diff=lfs merge=lfs -text lockable
Assets/Facebook/**/*.h filter=lfs diff=lfs merge=lfs -text lockable
Assets/Facebook/**/*.mm filter=lfs diff=lfs merge=lfs -text lockable
Assets/Facebook/**/*.projmods filter=lfs diff=lfs merge=lfs -text lockable
*.scene filter=lfs diff=lfs merge=lfs -text lockable
*.prefab filter=lfs diff=lfs merge=lfs -text lockable
*.controller filter=lfs diff=lfs merge=lfs -text lockable
*.asset filter=lfs diff=lfs merge=lfs -text lockable
*.anim filter=lfs diff=lfs merge=lfs -text lockable
*.mat filter=lfs diff=lfs merge=lfs -text lockable
*.FBX filter=lfs diff=lfs merge=lfs -text lockable
*.wav filter=lfs diff=lfs merge=lfs -text lockable
*.mp3 filter=lfs diff=lfs merge=lfs -text lockable
*.ogg filter=lfs diff=lfs merge=lfs -text lockable
*.jpg filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.pdf filter=lfs diff=lfs merge=lfs -text lockable
*.docx filter=lfs diff=lfs merge=lfs -text lockable
*.jar filter=lfs diff=lfs merge=lfs -text lockable
*.aar filter=lfs diff=lfs merge=lfs -text lockable
*.dll filter=lfs diff=lfs merge=lfs -text lockable
*.plist filter=lfs diff=lfs merge=lfs -text lockable
*.otf filter=lfs diff=lfs merge=lfs -text lockable
*.fcp filter=lfs diff=lfs merge=lfs -text lockable
*.unitypackage filter=lfs diff=lfs merge=lfs -text lockable
